/* accent color #FF6C00 */
:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --primary-subtitle-text: rgba(157, 164, 189, 0.6);
  --primary-description-text: #9da4bd;
  --subscribe-text: rgba(157, 164, 189, 0.4);
  --secondary-bg-color: #f7f7f7;
}

body {
  background-color: var(--white-color);

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;

  transition: color 250ms ease-in-out, background-color 250ms ease-in;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-tel:hover,
.nav-tel:focus,
.hero-link:hover,
.hero-link:focus,
.address-geolink:hover,
.address-geolink:focus,
.address-tel:hover,
.address-tel:focus,
.address-mail:hover,
.address-mail:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

/* .nav-list-item {
} */

.nav-list-item:not(:last-child) {
  margin-right: 25px;
}

.nav-list-link,
.nav-tel {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  padding: 20px 0px;

  color: var(--white-color);

  transition: color 250ms ease-in-out;
}

.nav-tel {
  margin-right: 40px;
}

.nav-btn,
.price-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: var(--white-color);
}

.hero .container {
  display: flex;
}

.hero-content {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--primary-text-color);

  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 99px;
  flex-grow: 1;
}

.hero-list {
  width: 90px;
}

/* .hero-list-item {
} */

.hero-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-text-color);
}

.hero-subtitle {
  margin-bottom: 20px;
}

.hero-subtitle::before,
.price-subtitle::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: var(--primary-subtitle-text);
}

.hero-subtitle,
.price-subtitle {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-subtitle-text);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
  margin-bottom: 20px;
}

.hero-text {
  color: var(--primary-description-text);
}

.about {
  padding-top: 139px;
  padding-bottom: 118px;
}

.about .container {
  display: flex;
}

.about .thumb {
  max-width: 483px;
  /* padding-right: 55px; */
}

.about-subtitle {
  margin-bottom: 20px;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-list-item:first-child {
  margin-right: 30px;
}

/* .about-list-item {
} */

.about-subtitle::before,
.benefits-subtitle::before,
.master-subtitle::before,
.galery-subtitle::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: var(--secondary-text-color);
}

.about-subtitle,
.benefits-subtitle,
.master-subtitle,
.galery-subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.about-title {
  margin-bottom: 20px;
}

.about-title,
.benefits-title,
.master-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.about-description {
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 47px;
}

.about-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: var(--secondary-text-color);
}

.prices {
  display: flex;
}

.price {
  padding-top: 130px;
  padding-bottom: 130px;

  background-image: url(../images/price-bkg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1280px;
  margin: 0 auto;

  background-color: #111319;
}

.price-subtitle {
  margin-bottom: 20px;
}

.price-title {
  margin-bottom: 44px;
}

.price-title,
.subscribe-title,
.contact-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--white-color);
}

.price-list {
  width: 585px;
  padding: 30px 40px;
  margin-bottom: 50px;
}

.price-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list-item::before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: currentColor;
  flex-grow: 1;
  margin-left: 3px;
  margin-right: 3px;
}

.price-text,
.price-description {
  color: var(--primary-description-text);
}

.price-text {
  order: -1;
}

/* .price-description {
} */

.price-btn {
  display: block;
  margin: 0 auto;
}

.benefits {
  padding-top: 114px;
  padding-bottom: 137px;
  background-color: var(--white-color);
}

.benefits .container {
  display: flex;
  padding-right: 70px;
  padding-left: 100px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  height: 331px;
  margin-right: 130px;
}

.benefits-item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  text-align: center;
}

.benefits-item:nth-child(2n + 1) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
}

.benefits-item:last-child {
  padding: 20px;
}

.benefits-accent-number {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
  margin-bottom: 6px;
  /* display: flex; */
}

.benefits-accent-number:after {
  position: absolute;
  top: 8px;
  right: -10px;
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;

  color: var(--accent-color);
}

.benefits-awards {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-text-color);
}

.benefits-subtitle {
  margin-bottom: 20px;
}

.benefits-title {
  margin-bottom: 20px;
}

/* .benefits-text {
} */

.master {
  padding-top: 130px;
  padding-bottom: 130px;

  background-color: var(--secondary-bg-color);
}

.master-subtitle {
  margin-bottom: 20px;
}

.master-title {
  margin-bottom: 44px;
}

.master-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.master-list img {
  width: 100%;
  margin-bottom: 30px;
}

.master-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
}

.master-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 8px;
}

.master-vacation {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

/* .social-item {
} */

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  fill: var(--secondary-text-color);

  transition: fill 250ms linear;
}

.social-link:hover,
.social-link:focus {
  fill: var(--accent-color);
}

/* .social-icon {
} */

.galery {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--white-color);
}

.galery-subtitle {
  margin-bottom: 44px;
}

/* .galery-title {
} */

.galery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.galery-item img {
  width: 100%;
}

.galery-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
}

.subscribe-section .container {
  display: flex;
}
.subscribe-section {
  background-image: url(../images/svg/subscribe-bkg.svg);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px);
  background-position: right;
  background-color: #191c26;
  max-width: 1280px;
  margin: 0 auto;
}

.subscribe {
  padding: 130px 0px;
  flex-basis: calc(100% / 2);
  /* outline: auto; */
}

.subscribe-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  color: var(--white-color);
}

/* .subscribe-title {
} */

.contact {
  padding: 130px 0px 130px 100px;
  /* flex-basis: calc(100% / 2); */
  flex-grow: 1;

  /* outline: auto; */
}

.contact-title {
  margin-bottom: 40px;
}

.address {
  width: 270px;
}

.addres-list {
  margin-bottom: 70px;
}

.address-item:not(:last-child) {
  margin-bottom: 20px;
}

.address-geolink {
  display: inline-flex;
  /* align-items: center; */
}

.address-geolink .address-icon {
  margin-top: 10px;
}

.address-geolink,
.address-tel {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-description-text);

  transition: color 250ms ease-in-out;
}

.address-icon {
  display: inline-flex;
  margin-right: 16px;
  fill: currentColor;
}

.address-tel {
  display: inline-flex;
  align-items: center;
}

.address-mail {
  display: inline-flex;
  align-items: center;
  font-style: normal;
  color: var(--primary-description-text);

  transition: color 250ms ease-in-out;
}

.work-graphic-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;

  display: flex;
  align-items: center;
}

.work-graphic-text::before {
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: currentcolor;
}

.work-graphic-time {
  color: var(--primary-description-text);
}

/* .footer {
} */

.footer .container {
  display: flex;
  height: 127px;
  align-items: center;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-description-text);
  margin-right: auto;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: var(--secondary-text-color);
}

/* .footer-item {
} */

.footer-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-text-color);
  padding-top: 10px;
  padding-bottom: 10px;

  transition: color 250ms ease-in-out;
}

.footer-link:last-child {
  margin-left: 40px;
}
