.master {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.master__subtitle {
  color: $secondary-text-color;
  margin-bottom: 20px;
  text-align: center;
}

.master__title {
  margin-bottom: 44px;

  color: $secondary-text-color;
}

.master__list {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.master__item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}

.master__photo {
  margin-bottom: 30px;
}

.master__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  text-align: center;
  margin-bottom: 8px;
}

.master__vacation {
  font-size: 14px;
  line-height: 1.36;
  color: $accent-color;
  text-align: center;
  margin-bottom: 30px;
}
