.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $primary-subtitle-text;

  display: inline-flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background: currentColor;
  }
}
