$accent-color: #ff6c00;
$white-color: #ffffff;
$primary-text-color: #555555;
$secondary-text-color: #303030;
$primary-subtitle-text: rgba(157, 164, 189, 0.6);
$primary-description-text: #9da4bd;
$subscribe-text: rgba(157, 164, 189, 0.4);
$secondary-bg-color: #f7f7f7;
